<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>

        <main class="row">
            <%- include('partials/header.ejs') %>

                <div class="container-personal-projects s12 col">
                    <h5>App Store Projects</h5>
                    <% for(var index in projects.appstoreProjects) { %>
                        <div class="col l3 m6 s12">
                            <div class="container-project center-align project-end">
                                <a href=<%=projects.appstoreProjects[index].link %>>
                                    <img class="responsive-img" src=<%=projects.appstoreProjects[index].imageLink%>
                                    alt=<%=projects.appstoreProjects[index].name %>>
                                </a>
                            </div>
                        </div>
                        <% } %>
                </div>

                <div class="container-personal-projects s12 col">
                    <h5>Personal Projects</h5>
                    <% for(var index in projects.personalProjects) { %>
                        <div class="col l3 m6 s12">
                            <div class="container-project center-align project-end">
                                <a href=<%=projects.personalProjects[index].link %>>
                                    <img class="responsive-img" src=<%=projects.personalProjects[index].imageLink%>
                                    alt=<%=projects.personalProjects[index].name %>>
                                </a>
                            </div>
                        </div>
                        <% } %>
                </div>

                <%- include('partials/footer.ejs') %>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>

</html>