<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>

        <main class="row">
            <%- include('partials/header.ejs') %>

                <div class="container-personal-projects s12 col">
                    <h5>iOS applications that I have supported</h5>
                    <% for(var index in projects.appstoreProjects) { %>
                        <div class="col l3 m6 s12 center-align">
                            <div class="container-project center-align project-end app-container">
                                <img class="responsive-img app-image rounded-img-0" src=<%=projects.appstoreProjects[index].imageLink%>
                                alt=<%=projects.appstoreProjects[index].name %>>
                                <div class="middle">
                                    <a href=<%=projects.appstoreProjects[index].link %>>
                                        <div class="go-to-link">App Store Preview</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>

                <div class="container-personal-projects s12 col">
                    <h5>My personal projects</h5>
                    <% for(var index in projects.personalProjects) { %>
                        <div class="col l3 m6 s12">
                            <div class="container-project center-align project-end app-container">
                                    <img class="responsive-img app-image rounded-img-1" src=<%=projects.personalProjects[index].imageLink%>
                                    alt=<%=projects.personalProjects[index].name %>>
                                    <div class="middle">
                                        <a href=<%=projects.personalProjects[index].link %>>
                                            <div class="go-to-link">Repository</div>
                                        </a>
                                    </div>
                            </div>
                        </div>
                        <% } %>

                            <span class="more-projects new badge" data-badge-caption=""><a class="more-projects-text"
                                    href="https://github.com/senducusin">More Projects</a> </span>
                </div>

                <%- include('partials/footer.ejs') %>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>

</html>